html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#info {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: aliceblue;
    opacity: 0.8;
    padding: 5px;
    margin: 0px;
    border-radius: 5px;
}
